.task {
    display: flex;
    flex-direction: column;
    border: solid hsl(0, 0%, 70%) 1px;

}

.task__header {
    flex-basis: 100%;
    border-bottom: solid hsl(0, 0%, 70%) 1px;

    margin: 0px 0 0 0;
    padding: 15px 20px;
    background: white;
    padding: 10px 20px;
}

.task__list {
    flex-basis: 100%;
    list-style: none;
    background: white;
    padding: 10px;
    margin: 0;
    padding: 10px 20px;
    background: white;
}

.task__element {
    display: flex;
    border-bottom: solid hsl(0, 0%, 70%) 1px;
}

.task__input {
    box-sizing: border-box;
    justify-self: flex-end;
    margin-right: 15px;
    background: green;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    border: 0px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.task__label {
    flex-basis: 100%;
    margin-top: 22px;
    font-size: 12px;
}

.task__button {
    box-sizing: border-box;
    justify-self: flex-end;
    margin-left: auto;
    background: red;
    flex-shrink: 0;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    border: 0px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.task__button:hover {
    background: hsl(0, 100%, 30%);
}

.task__button:active {
    background: rosybrown;
}